<header id="headerPrin">
    <div class="center">
        <!--LOGO-->
        <div id="logo">
          <img src="./assets/images/imgAngular.png" class="app-logo" alt="Logotipo">
          <span id="brand"> <!--marca-->
             <strong>Master</strong>Angular
          </span>
        </div>
        <!--MENU-->
        <nav id="menuPrin">
             <ul>
                 <li>
                   <a href="./index.html">Inicio</a>
                 </li>
                 <li>
                  <a href="./blog.html">Blog</a>
                </li>
                <li>
                  <a href="#">Formulario</a>
                </li>
                <li>
                  <a href="#">Pagina 1</a>
                </li>
                <li>
                  <a href="#">Pagina 2</a>
                </li>
             </ul>
        </nav>
        <!--LIMPIAR FLOTADOS-->
        <div class="clearfix"></div>
    </div>
</header>